h1{
	text-align: center;
	font-family: Arial, sans serif;
	font-weight: bold;
	font-size: 3rem;
}
.task-title, .task-desc, .drop-down-list{
	display: block;
}
.task-title{
	
	margin-bottom: 20px;
	padding: 10px 10px;
	border: 2px solid gray;
	color: gray;
	border-radius: 25px;
}

.task-desc{
	resize: none;
	margin-bottom: 25px;
	border-radius: 10px;
	padding: 10px 20px;
}

.add-button{
	font-size: 16px;
	padding: 8px;
	margin-top: 20px;
	border: none;
	border-radius: 10px;
	color: black;
	background-color: lightpink;
	cursor: pointer;
}

ul{
	padding: 0
}

li{
	border: 2px solid black;
	
}

.btn-container{
	margin: 40px;
}

button{
	padding: 10px 20px;
	border: none;
	border-radius: 30px;
	font-family: Arial, Courier;
	cursor: pointer;
	margin: 10px;
}

.up-button{
	background-color: #55c2da;
}

.down-button{
	background-color: #5adbb5;
}

.delete-button{
	background-color: red;
}

.edit-button{
	background-color: lightpink;
}

.toggle-btn{
	background-color: lightblue;
}



